<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<!-- jerseys.hbs -->
<h1>Jerseys</h1>

{{!-- Create a table --}}
<table id="jersey-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            {{!-- <td>{{this.jerseyID}}</td>
            <td>{{this.teamID}}</td>
            <td>{{this.playerID}}</td> --}}
            <td>{{this.jerseyID}}</td>
            <td>{{this.teamName}}</td>
            <td>{{this.playerName}}</td>
            <td>{{this.size}}</td>
            <td>{{this.price}}</td>
            <td>{{this.inventoryCount}}</td>
            <td><button onclick="deleteJersey({{this.jerseyID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table> 
<script src="./js/delete_jersey.js"></script>

{{!-- <!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below nad click `Submit`!</p>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-homeworld">Homeworld: </label>
     <select name="input-homeworld" id="input-homeworld-ajax">
        <option value="">Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form> 

<h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form> --}}

<form id="add-jersey-form-ajax">
    <label for="input-teamID">Team:</label>
    <select name="input-teamID" id="input-teamID-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamID}}">{{this.teamName}}</option>
        {{/each}}
    </select>
    {{!-- <input type="number" name="teamID" id="teamID"> --}}

    
    <label for="input-playerID">Player:</label>
    <select name="input-playerID" id="input-playerID-ajax">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.playerName}}</option>
        {{/each}}
    </select>
    {{!-- <input type="number" name="playerID" id="playerID"> --}}


    <label for="input-size">Size:</label>
    <input type="text" name="input-size" id="input-size" placeholder="Enter size (e.g., S, M, L)">

    <label for="input-inventoryCount">Inventory Count:</label>
    <input type="number" name="input-inventoryCount" id="input-inventoryCount" placeholder="Enter inventory count" min="0">

    <label for="input-price">Price:</label>
    <input type="number" name="input-price" id="input-price" placeholder="Enter price" min="0" step="0.01">

    <button type="submit">Add Jersey</button>
</form>  

<script src="./js/add_jersey.js"></script>


<h2>Updating Jersey Form</h2>
<p>To update a specific players jersey select their name from the drop-down menu on the left and their desired team from the drop down menu on the right</p>
<form id="update-jersey-form-ajax">
    <label for="input-jerseyID">Jersey ID:</label>
    <input type="number" name="input-jerseyID" id="input-jerseyID">

    <label for="input-teamID">Team:</label>
    <select name="input-teamID" id="input-teamID-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamID}}">{{this.teamName}}</option>
        {{/each}}
    </select>
    {{!-- <input type="number" name="teamID" id="teamID"> --}}

    
    <label for="input-playerID">Player:</label>
    <select name="input-playerID" id="input-playerID-ajax">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.playerName}}</option>
        {{/each}}
    </select>
    {{!-- <input type="number" name="playerID" id="playerID"> --}}


    <label for="input-size">Size:</label>
    <input type="text" name="input-size" id="input-size" placeholder="Enter size (e.g., S, M, L)">

    <label for="input-inventoryCount">Inventory Count:</label>
    <input type="number" name="input-inventoryCount" id="input-inventoryCount" placeholder="Enter inventory count" min="0">

    <label for="input-price">Price:</label>
    <input type="number" name="input-price" id="input-price" placeholder="Enter price" min="0" step="0.01">

    <input type="submit">

</form>

<script src="./js/update_jersey.js"></script>
