<!--Refrencing the CS340 repository https://github.com/osu-cs340-ecampus/nodejs-starter-app.git--> 


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jerseys">Jerseys</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderItems">Order Items</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teamplayers">Team Players</a></li>

</ul>

<!-- Orders.hbs -->
<h1>Orders</h1>

{{!-- Create a table --}}
<table id="order-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Action</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value="{{this.orderID}}">
            <td>{{this.orderID}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.teamID}}</td>
            <td>{{this.playerID}}</td> 
            <td><button onclick="deleteOrder({{this.orderID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table> 
<script src="./js/delete_order.js"></script>


<form id="add-order-form-ajax">


    <label for="input-orderDate">Order Date</label>
    <input type="date" name="input-orderDate" id="input-orderDate" placeholder="Enter Order Date">

    <label for="input-customerID">Customer (Optional):</label>
    <select name="input-customerID" id="customer-playerID-ajax">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.customerID}}</option>
        {{/each}}
    </select>
    
    <datalist id="customerID_list">
    <option value="NULL">
    </datalist>

    <label for="input-totalAmount">Total Amount</label>
    <input type="text" name="input-totalAmount" id="input-totalAmount" placeholder="Enter Total Amount">

    <button type="submit">Add Order</button>
</form>  

<script src="./js/add_order.js"></script>


<h2>Updating Order Form </h2>
<form id="update-order-form-ajax">
    
    <label for="input-orderID">Order ID</label>
    <input type="text" name="input-orderID" id="input-orderID" placeholder="Enter Order ID">

    <label for="input-orderDate">Order Date</label>
    <input type="date" name="input-orderDate" id="input-orderDate" placeholder="Enter Order Date">

    {{!-- <label for="input-customerID">customerID:</label>
    <input type="text" name="input-customerID" id="input-customerID" placeholder="Enter Customer ID" list = customerID_list --}}
    <label for="input-customerID">Customer:</label>
    <select name="input-customerID" id="customer-playerID-ajax">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.customerID}}</option>
        {{/each}}
    </select>

    <label for="input-totalAmount">Total Amount</label>
    <input type="text" name="input-totalAmount" id="input-totalAmount" placeholder="Enter Total Amount">

    <input type="submit">

</form>

<script src="./js/update_order.js"></script>