<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jerseys">Jerseys</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderItems">Order Items</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teamplayers">Team Players</a></li>

</ul>

<h1>Order Items </h1>

{{!-- Create a table --}}
<table id="order-item-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.orderItemID}}">
            {{!-- <td>{{this.jerseyID}}</td>
            <td>{{this.teamID}}</td>
            <td>{{this.playerID}}</td> --}}
            <td>{{this.orderItemID}}</td>
            <td>{{this.jerseyID}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.teamName}}</td>
            <td>{{this.playerName}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.priceEach}}</td>
            <td><button onclick="deleteOrderItem({{this.orderItemID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table> 

<!-- form to add order items -->
<form id="add-order-item-form-ajax">
    {{!-- <label for="input-orderItemID">Order Item ID:</label>
    <input type="number" name="input-orderItemID" id="input-orderItemID" placeholder="Enter order item ID"> --}}

    {{!-- <label for="input-orderID">Order ID:</label>
    <input type="number" name="input-orderID" id="input-orderID" placeholder="Enter order ID"> --}}
    <label for="input-orderID">Order:</label>
    <select name="input-orderID" id="input-orderID-ajax">
        <option value="">Select an Order</option>
        {{#each orders}}
        <option value="{{this.orderID}}">{{this.orderID}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-jerseyID">Jersey ID:</label>
    <input list="jerseyIDOptions" name="input-jerseyID" id="input-jerseyID" placeholder="Enter jersey ID">
    <datalist id="jerseyIDOptions">
    <option value="1">1: Yankees/Aaron Judge</option>
    <option value="2">2: Dodgers/Shohei Ohtani</option>
    <option value="3">3: Angels/Mike Trout</option>
    </datalist> --}}

    <label for="input-jerseyID">Jersey:</label>
    <select name="input-jerseyID" id="input-jerseyID-ajax">
        <option value="">Select a Jersey</option>
        {{#each jerseys}}
        <option value="{{this.jerseyID}}">{{this.jerseyID}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity:</label>
    <input type="number" name="input-quantity" id="input-quantity-ajax" placeholder="Enter quantity">

    <label for="input-priceEach">Price Each:</label>
    <input type="number" step="0.01" name="input-priceEach" id="input-priceEach-ajax" placeholder="Enter price each">

    <button type="submit">Add Order Item</button>
</form>

<script src="./js/add_orderitems.js"></script>

<h2>Updating Order Item Form</h2>
<p>To update an order item's details, select its ID from the drop-down menu on the left and edit the information below.</p>

<form id="update-order-item-form-ajax">
    <label for="update-input-orderItemID-ajax">Order Item ID:</label>
    <input type="number" name="update-input-orderItemID-ajax" id="update-input-orderItemID-ajax" placeholder="Enter order item ID">

    {{!-- <label for="input-orderID">Order ID:</label>
    <input type="number" name="input-orderID" id="input-orderID" placeholder="Enter order ID"> --}}
    <label for="update-input-order-ajax">Order:</label>
    <select name="update-input-order-ajax" id="update-input-order-ajax">
        <option value="">Select an Order</option>
        {{#each orders}}
        <option value="{{this.orderID}}">{{this.orderID}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-jerseyID">Jersey ID:</label>
    <input list="jerseyIDOptions" name="input-jerseyID" id="input-jerseyID" placeholder="Enter jersey ID">
    <datalist id="jerseyIDOptions">
    <option value="1">1: Yankees/Aaron Judge</option>
    <option value="2">2: Dodgers/Shohei Ohtani</option>
    <option value="3">3: Angels/Mike Trout</option>
    </datalist> --}}
    <label for="update-input-jersey-ajax">Jersey:</label>
    <select name="update-input-jersey-ajax" id="update-input-jersey-ajax">
        <option value="">Select a Jersey</option>
        {{#each jerseys}}
        <option value="{{this.jerseyID}}">{{this.jerseyID}}</option>
        {{/each}}
    </select>

    <label for="update-input-quantity-ajax">Quantity:</label>
    <input type="number" name="update-input-quantity-ajax" id="update-input-quantity-ajax" placeholder="Enter quantity">

    <label for="update-input-priceEach-ajax">Price Each:</label>
    <input type="number" step="0.01" name="update-input-priceEach-ajax" id="update-input-priceEach-ajax" placeholder="Enter price each">

    <button type="submit">Update Order Item</button>
</form>

<script src="./js/edit_orderitems.js"></script>
