<!--Refrencing the CS340 repository https://github.com/osu-cs340-ecampus/nodejs-starter-app.git--> 



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/styles.css">

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/jerseys">Jerseys</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/orderItems">Order Items</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/teamplayers">Team Players</a></li>

</ul>

<h1>Team Players </h1>  

{{!-- Create a table --}}
<table id="team-player-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>
                Team Player ID
            </th>
            <th>
                Team Name
            </th>
            <th>
                Player Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.teamPlayerID}}">
            <td>{{this.teamPlayerID}}</td>
            <td>{{this.teamName}}</td>
            <td>{{this.playerName}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
            <td><button onclick="deleteTeamPlayer({{this.teamPlayerID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table> 
<script src="./js/delete_team_player.js"></script>


<form id="add-team-player-form-ajax">

    <label for="input-teamID">Team:</label>
    <select name="input-teamID" id="input-teamID-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamID}}">{{this.teamName}}</option>
        {{/each}}
    </select>
    
    <label for="input-playerID">Player:</label>
    <select name="input-playerID" id="input-playerID-ajax">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.playerName}}</option>
        {{/each}}
    </select>

    <label for="input-startDate">Start Date</label>
    <input type="date" name="input-startDate" id="input-startDate" placeholder="Enter Start Date"> 

    <label for="input-endDate">End Date</label>
    <input type="date" name="input-endDate" id="input-endDate" placeholder="Enter End Date">

    <button type="submit">Add Team Player</button>
</form>  

<script src="./js/add_team_player.js"></script>


<h2>Updating Team Player Form</h2>
<form id="update-team-player-form-ajax">
    
    <label for="input-team-player-ID">Team Player ID</label>
    <input type="text" name="input-team-player-ID" id="input-update-team-player-ID" placeholder="Enter Team Player ID">

    <label for="input-teamID">Team:</label>
    <select name="input-teamID" id="input-update-teamID-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamID}}">{{this.teamName}}</option>
        {{/each}}
    </select>
    
    <label for="input-playerID">Player:</label>
    <select name="input-playerID" id="input-update-playerID-ajax">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.playerID}}">{{this.playerName}}</option>
        {{/each}}
    </select>

    <label for="input-startDate">Start Date</label>
    <input type="date" name="input-startDate" id="input-update-startDate" placeholder="Enter Start Date"> 

    <label for="input-endDate">End Date</label>
    <input type="date" name="input-endDate" id="input-update-endDate" placeholder="Enter End Date">

    <input type="submit">

</form>
`
<script src="./js/update_team_player.js"></script>